<!DOCTYPE html>
<html lang="en">

<th:block th:fragment="manga-form(formAction, submitText)">
    <form method="post" class="d-flex flex-column gap-4" th:action="@{${formAction}}" th:object="${manga}">
        
        <div>
            <label for="title">Titolo Manga:</label>
            <input type="text" id="title" th:field="*{title}" th:errorClass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label for="author">Autore:</label>
            <input type="text" id="author" th:field="*{author}" th:errorClass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}">
                <ul>
                    <li th:each="err : ${#fields.errors('author')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label for="description">Descrizione:</label>
            <textarea id="description" th:field="*{description}" th:errorClass="is-invalid" required></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" th:text="${submitText}"></button>
        </div>

    </form>
</th:block>

<th:block th:fragment="character-form(formAction, submitText, mangas)">
    <form method="post" class="d-flex flex-column gap-4" th:action="@{${formAction}}" th:object="${character}">

        <div>
            <label for="name">Nome Personaggio:</label>
            <input type="text" id="name" th:field="*{name}" th:errorClass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label for="description">Descrizione:</label>
            <textarea id="description" th:field="*{description}" th:errorClass="is-invalid" required></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <label for="manga">Manga di Appartenenza:</label>
            <select id="manga" th:field="*{manga}" class="form-select" required>
                <option th:each="mangaItem : ${mangas}" 
                        th:value="${mangaItem.id}" 
                        th:text="${mangaItem.title}">
                </option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('manga')}">
                <ul>
                    <li th:each="err : ${#fields.errors('manga')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" th:text="${submitText}"></button>
        </div>

    </form>
</th:block>

</html>
