<!DOCTYPE html>
<html lang="en">
  <body>
    <header
      th:fragment="header"
      class="container d-flex justify-content-between gap-3 align-items-baseline px-5 pt-2"
    >
      <h1>Fumetteria</h1>
      <nav>
        <ul class="d-flex list-unstyled gap-4 align-items-center">
          <li><a href="/admin/manga">manga</a></li>
          <li><a href="/admin/pg">personaggi</a></li>
          <li>
            <a
              href="/admin/manga/create"
              sec:authorize="${hasAuthority('ADMIN')}"
              >Aggiungi Manga</a
            >
          </li>
          <li>
            <a href="/admin/pg/create" sec:authorize="${hasAuthority('ADMIN')}"
              >Aggiungi Pg</a
            >
          </li>
          <sec:authorize access="isAuthorized()">
            <li>
              <a href="/logout">Logout</a>
            </li>
          </sec:authorize>
        </ul>
      </nav>
    </header>
  </body>
</html>
